<div class="panel panel-primary">
    <div class="panel-heading">
    </div>
  
    <div class="panel-body" *ngIf="bands && bands.length">
      <form class="form-horizontal" novalidate (ngSubmit)="addTour()" [formGroup]="tourForm">
        <fieldset>
          <div class="form-group" [ngClass]="{'has-error': band.invalid && band.touched}">
            <label class="col-md-2" for="band">Band</label>
            <div class="col-md-8" >
                <select class="form-control" id="band" formControlName="band">
                  <option ngValue="">Please Select a Band</option>
                  <option *ngFor="let band of bands" [ngValue]="band.bandId" >{{band.name}}</option>
                </select>
                <div *ngIf="band.touched" class="has-error">
                  <div *ngIf="band.errors?.required">Please select a Band</div>
                </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': title.invalid && title.touched}">
            <label class="col-md-2" for="titleId">Title</label>
            <div class="col-md-8">
              <input class="form-control" id="titleId" type="text" placeholder="Title" formControlName="title" />
              <div *ngIf="title.touched" class="has-error">
                <div *ngIf="title.errors?.required">Tour title is required</div>
                <div *ngIf="title.errors?.maxlength">Tour title is too long</div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="isAdmin">
            <label class="col-md-2" for="manager">Manager:</label>
            <div class="col-md-8">
              <select class="form-control" id="manager" formControlName="manager" >
                <option *ngFor="let manager of managers" [ngValue]="manager.managerId">{{manager.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': description.invalid && description.touched}">
            <label class="col-md-2" for="descriptionId">Description</label>
            <div class="col-md-8" >
              <textarea class="form-control" id="descriptionId" type="text" rows="5" placeholder="Description" formControlName="description"></textarea>
              <div *ngIf="description.touched" class="has-error">
                <div *ngIf="description.errors?.required">Tour description is required</div>
                <div *ngIf="description.errors?.maxlength">Tour description is too long</div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': estimatedProfits.invalid && estimatedProfits.touched}">
            <label class="col-md-2" for="estimatedProfitsId"></label>
            <div class="col-md-8">
              <input type="number" id="estimatedProfitsId" placeholder="Estimated Profits"  formControlName="estimatedProfits" />
              <div *ngIf="estimatedProfits.touched" class="has-error">
                <div *ngIf="estimatedProfits.errors?.required">Tour estimated profits are required</div>
                <div *ngIf="estimatedProfits.errors?.min">The tour's estimated profits must be greater than 0</div>
                <div *ngIf="estimatedProfits.errors?.max">The tour's estimated profits must be less</div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': startDate.invalid && startDate.touched}">
            <label class="col-md-2" for="startDateId">Starts at</label>
            <div class="col-md-8" >
              <input class="form-control" id="startDateId" type="date" placeholder="Start Date" formControlName="startDate" />
              <div *ngIf="startDate.touched" class="has-error">
                <div *ngIf="startDate.errors?.required">Tour start date is required</div>
                <div *ngIf="endDate.touched && tourForm.errors?.startDateBeforeEndDate">Tour start date is after end date</div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': endDate.invalid && startDate.touched}">
            <label class="col-md-2" for="endDateId">Ends at</label>
            <div class="col-md-8" >
              <input class="form-control" id="endDateId" type="date" placeholder="End Date" formControlName="endDate" />
              <div *ngIf="endDate.touched" class="has-error">
                <div *ngIf="endDate.errors?.required">Tour end date is required</div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-2 margin-left-15">Shows</div>
            <div *ngIf="true" class="has-error">
              <div *ngIf="shows.errors?.showDateInTourRange">A tour has error!</div>
            </div>
          </div>
          <div>
            <div *ngFor="let show of tourForm.get('shows').controls; let i = index" formArrayName="shows">
              <app-show-single [showIndex]="i" [show]="show" (removeShowClicked)="tourForm.get('shows').removeAt($event)"></app-show-single>
            </div>
          </div>
          <div class="row col-md-2">
            <button class="button button-primary" (click)="addShow()">Add Show</button>
          </div>
          <div class="form-group margin-top-10">
            <div class="col-md-2 col-md-offset-2">
              <span><button class="btn btn-primary" type="submit" [disabled]="!tourForm.valid" >Save</button></span>
              <span><a class="button button-default" [routerLink]="['/tours']">Back</a></span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  